

body{
    font-size: large;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    background-color: chocolate;
}

#h1{
    font-family: "sans-serif", "Arabic Typesetting";
    size: 30px;
    font-weight: bold;
    color: chocolate;
    margin: 10px
;
}

.Auto{
    background-color:yellow;
    border:2px solid red;
    color: green;
    margin: 20px;
    padding: 20px;
    }
